@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --page-background-light-color: #fff;
    --page-background-dark-color: #555;
    --page-light-color: #333;
    --page-dark-color: #EDEDED;

    --page-padding: 40px 0px;
    --page-margin: 0 40px;

    --app-font-family: 'Poppins';
    --app-smaller-size: 12px;
    --app-small-font: 14px;
    --app-default-font: 16px;
    --app-medium-font: 20px;
    --app-big-font: 24px;
    --app-bigger-font: 30px;

    --app-box-shadow: 0 2px 20px 5px #ccc;
    --app-box-shadow-inset: 0 2px 20px 5px #ccc inset;

}

body {
    font-family: var(--app-font-family);
    background-color: var(--page-background-light-color);
    color: var(--page-dark-color);
    margin: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

.page-header {
    margin-top: -40px;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg.gif');
    background-size: 100% 100%;
    /* object-fit: fill; */
   
}
.logo > a{
    font-size: var(--app-bigger-font);
    color: #ffaa00;
}
.navbar {
    width: 90vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 2px solid #d67c04;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    padding-right: 40px;
    margin: 0;
}
.navbar ul li{
    width: 100px;
    padding: 20px;
    text-align: center;

}
.navbar ul .active-nav{
  color: #f19900;
  font-weight: bold;

}
.navbar ul li a{
    color: inherit;
}

.navbar ul li:hover {
    border-bottom: 4px solid #fcac00;
}
.navbar ul li:hover  > a{
    color: #ffaa00;
}

.header-info {
    position: relative;
    top: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    padding-left: 100px;
}
.caption {
    font-size: var(--app-bigger-font);
    font-weight: 600;
    color: #fff;

}
.caption-text {
    font-size: var(--app-medium-font);
    color: #fff;
}
.btn {
    padding: 10px 20px;
    background-color: #f19900;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    max-width: 120px;
}
.btn:hover {
    background-color: #fff;
    color: #181003;
    border: 2px solid #f1b900;
}
/* Styles for user list */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#user-list {
    display: block;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
}
table {
    width: 100%;
}
table tr:root{
    border-radius: 50px;
}

#user-list th {
    padding: 15px;
    text-align: center;
    background-color: #171410;
    color: #fff;
}

#user-list td {
    padding: 10px;
    text-align: left;
}
#user-list td:nth-child(1):hover {
    cursor: pointer;
    background-color: #2d3c3c;
    color: #f1b900;
}
#user-list tr:nth-child(even) {
    background-color: #e9dac1;
    color: #333;
}
#user-list tr:nth-child(odd) {
    background-color: #fff;
    color: #333;
}

/* User Post style */
.user-post {
    display: none;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    border-top: 10px solid #f1b900;
    border-radius: 10px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}
/* .close-icon {
    width: 30px;
    height: 30px;
    color: red;
    content: '\00d7';
    text-align: center;
    font-size: var(--app-big-font);
    border: 1px solid #777;
    border-radius: 100%;
    cursor: pointer;
} */
.close-icon {
    position: relative;
    border: 1px solid #777;
    border-radius: 100%;
    right: 32px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close-icon:hover {
    opacity: 1;
  }
  .close-icon:before, .close-icon:after {
    position: absolute;
    top: 5px;
    left: 15px;
    content: ' ';
    text-align: center;
    height: 22px;
    width: 2px;
    background-color: #333;
  }
  .close-icon:before {
    transform: rotate(45deg);
  }
  .close-icon:after {
    transform: rotate(-45deg);
  }
.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#user-info-name {
    font-size: 20px;
    font-weight: 600;
}
.user-avater {
    padding: 0 10px;
}
.user-avater > img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: fill;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-caption {
    background-color: #eee;
    box-shadow: var(--app-box-shadow);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 2px;
    transition: 0.4s;
    text-align: left;
    padding-left: 40px;
    font-size: var(--app-medium-font);
}
.active, .post-caption:hover {
    background-color: #ffaa00;
}
button:nth-child(odd) {
    border-left: 5px solid #ffaa00;
}
button:nth-child(even) {
    border-left: 5px solid #050505;
}

.user-post-details {
    display: none;
    max-height: 0;

}
.user-post-details-active {
    display: block;
    background-color: #fff;
    color: #333;
    animation: roll 0.3s ease-in-out forwards;
    padding: 20px;
    max-height: 0;
}

@keyframes roll {
    0% {
        transform: rotateX(45deg);
        background-color: #ffffff;
    }
    50% {
        box-shadow: var(--app-box-shadow);
    }
    
    100% {
        max-height: 300px;
        box-shadow: none;
        background-color: #fff;
    }

}
.post-head {
    display: flex;
    justify-content: space-between;
}
.post-date {
    justify-self: space-between;
    color: #555;
}

.post-body {
    padding: 10px 0;
}

@media screen and (max-width: 720px) {
    .navbar {
        justify-content: space-evenly;
        padding: 0;
    }
}